body {
    margin: 0;
    background-color: black;
}
 /* MENU BALK STARTS HERE Add a black background color to the top navigation */
 .topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: pink;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
} 

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: -10%;
    bottom: 0;
    min-width: 100%; 
    max-width: 100%;
    min-height: 94%;
    max-height: 94%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* VIDEO PLAYER STARTS HERE Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: pink;
    color: black;
}